.card {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow .1s ease-in-out;
    border-radius: .5rem;
    user-select: none;

}

.card:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.card .img-wrapper {
    text-align: center;
}

.card .img-wrapper img {
    height: 256px;
}

.card .content-wrapper {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
}